.card-image-override {
  height: 500px;
}
/*
.img-override {
  max-height: 124px;
}*/

.dateDiv {
  position: absolute;
   /*top: 50%;*/
   margin-left: 25%
}

.dateBox {
  color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

#titleDiv {
margin:0 auto;
}

.title {
  width: 100%;
  text-align: center;
}

.headingFont {
  font-family: Bungee Inline;
  /*font-family: Montserrat Subrayada;*/
  font-size: 150px;
}
.tagLine {
  font-family: Bungee Inline;
  font-size: 30px;
}

.titleFont {
  font-family: Montserrat Subrayada;
}

.apodFont {
  font-family: Bungee Inline;
  font-size: 60px;

}

.contentFont {
  /*font-family: Chathura;*/
  font-family: Didact Gothic;
  font-size: 20px;
  color: white;

}

.fontType {
  font-family: Amatica SC;
  font-size: 25px;
}

.quoteFont {
  font-family: Amatica SC;
  font-size: 45px;

}

.authorFont {
  font: bold 45px Amatica SC, Sans-Serif;
}

.soundFont {
  font-family: Bungee Inline;
  /*font-family: Montserrat Subrayada;*/
  font-size: 100px;
}

.back-to-top {
 margin: 5%;
 position: fixed;
 bottom: 0;
 right: 0;
 width: 10  0px;
 height: 70px;
 z-index: 100;
 display: none;
 text-decoration: none;

 color: white;
  font: bold 20px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
 }


 .parallax-container {
   height: 1000px;
   /*opacity: 0.8;*/
 }
 .parallax-container2 {
   height: 1000px;
   /*opacity: 0.9;*/
   position: relative;
 }

 .parallax-container3 {
   height: 700px;
   /*opacity: 0.9;*/
   position: relative;
 }

 .nasaStyle {
   font-size: 40px;
   font-family: Amatica SC;
   /*position: absolute;*/

 }

 .nuforcTagline {
   font-size: 30px;
   font-family: Bungee Inline;
 }
