.card-image-override {
  height: 300px;
}

.image-override {
  position: relative;
  height: 800px;
  width: 900px;
  /*margin-left: 25%;*/
  margin-right: 25%;
  /*border-top: 2px double black;
  border-bottom: 2px double black;
  border-left: 2px double black;
  border-right: 2px double black;*/

}
/*
.carouselOverride {
  height: 800px;
  width: 900px;
}*/

.dateDiv {
  position: absolute;
   top: 50%;
   margin-left: 25%

}

.dateBox {
  color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

#titleDiv {
margin:0 auto;
}

.title {
  width: 100%;
  text-align: center;
}

.headingFont {
  font-family: Bungee Inline;
  /*font-family: Montserrat Subrayada;*/
  font-size: 150px;
}
.tagLine {
  font-family: Bungee Inline;
  font-size: 30px;
}

.titleFont {
  font-family: Montserrat Subrayada;
}

.contentFont {
  /*font-family: Chathura;*/
  font-family: michroma;
  font-size: 15px;

}

.fontType {
  font-family: Amatica SC;
  font-size: 25px;
}

.quoteFont {
  font-family: Helvetica;
}

.authorFont {
  font-family: Helvetica;
}

/*.picContainer {
  width: 200px;
  height: 200px;

}*/
